<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="shas.j2dw.myshasapp">
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="shas.j2dw.myshasapp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="shas.j2dw.myshasapp.FaceUnlockActivity"
            android:parentActivityName="shas.j2dw.myshasapp.MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="shas.j2dw.myshasapp.MainActivity" />
        </activity>
        <activity
            android:name="shas.j2dw.myshasapp.CommandCenterActivity"
            android:parentActivityName="shas.j2dw.myshasapp.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="shas.j2dw.myshasapp.MainActivity" />
        </activity>
        <activity android:name="shas.j2dw.myshasapp.SensorActivity" />
        <activity
            android:name="shas.j2dw.myshasapp.SettingsActivity"
            android:label="@string/title_activity_settings"></activity>
    </application>

</manifest>