extends layout

block content
  #main_viewport.viewport
    #overview_block.disp_block
      #construct_block_title.block_title
        h1= pagetitle
      #construct_block_wrapper.wrapper 
        a(href='#')  Controls Coming Soon! 
