doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/theme.css')
  body
    script(type='text/javascript', src='https://code.jquery.com/jquery-3.3.1.min.js')
    block content
  script(type='text/javascript', src='/javascripts/session_handler.js')
